<div style="width: 100%">

    <div class="d-flex justify-content-start">
        @if (Previous is not null)
        {
            <a href="@Previous.Url">上一篇：@Previous.Title</a>
        }
    </div>
    <div class="d-flex justify-content-end">
        @if (Next is not null)
        {
            <a href="@Next.Url">下一篇：@Next.Title</a>
        }
    </div>

</div>

@code {
    [Parameter]
    public FooterModel? Previous { get; set; }

    [Parameter]
    public FooterModel? Next { get; set; }

    public class FooterModel
    {
        public string Title { get; set; } = null!;

        public string Url { get; set; } = null!;
    }
}
