@page "/blog"

<div>
    <article class="pt-3" style="border-top: 1px solid #F2F2F2; border-bottom: 1px solid #F2F2F2;">
        <a href="blog/1" class="text-dark">
            <h2 class="fw-bold fs-4">Blazor-前言</h2>
            <p class="text-secondary d-flex align-items-center fs-6">
                2023-10-13 17:25
            </p>
        </a>
    </article>
</div>

@code{

}